<div class="space">
  <button (click)="undoButtonClick()" [disabled]="!undoService.canUndo()">Undo</button>
  <button (click)="redoButtonClick()" [disabled]="!undoService.canRedo()">Redo</button>
</div>

<daypilot-calendar [config]="config" #calendar></daypilot-calendar>

<h2>History</h2>

@for (item of undoService.history(); track $index; let i = $index) {
  <div class="history-item" [class.highlighted]="i === undoService.position()">
    <span>{{ item.time }}: {{ item.text }} (ID: {{ item.id }})</span>
  </div>
}

<div [class.highlighted]="undoService.history().length && undoService.position() === undoService.history().length"></div>
